<div class="reg-block">
    <div class="reg-block-header">
        <h2>Sign In</h2>
    </div>
    <md-content>
        <form class="form-horizontal" role="form" name="logInForm" id="logInFormData"
              data-ng-init="init()">
            <md-input-container class="md-block">
                <input name="username" type="text"
                       md-maxlength="50"
                       placeholder="Username"
                       ng-model="logInFormData.username"
                       required>
                <div ng-messages="logInForm.username.$error">
                    <div ng-message="required">
                        Username is required
                    </div>
                    <div ng-message="md-maxlength">
                        Username does not exceed 50 characters
                    </div>
                </div>
            </md-input-container>
            <!--<i class="material-icons">lock</i>- will look after resolving login icon-->
            <md-input-container class="md-block">
                <input name="password"
                       type="password"
                       ng-model="logInFormData.password"
                       placeholder="Password"
                       minlength="8"
                       maxlength="20"
                       required>
                <div ng-messages="logInForm.password.$error">
                    <div ng-message="required">
                        Password is required
                    </div>
                    <div ng-message="minlength">
                        Password cannot be less than 8 characters
                    </div>
                    <div ng-message="maxlength">
                        Password cannot exceed 20 characters
                    </div>
                </div>
            </md-input-container>
            <div style="text-align:center">
                <md-button class="md-raised md-primary" type="submit" ng-click="submit()" ng-disabled="logInForm.$invalid" type="button">Submit</md-button>
            </div>
            <div class="margin-top-40">
                <p class="col-sm-6">
                    <a ui-sref="dashboards.adminDashboard">Register Now</a>
                </p>
                <p class="col-sm-6">
                    <a ui-sref="dashboards.adminDashboard">Forgot password</a>
                </p>
            </div>
        </form>
    </md-content>
</div>